@tailwind base;
@tailwind components;
@tailwind utilities;

.math-wrap svg {
  display: inline-block;
  padding: 8px 2px;
  box-sizing: content-box;
}
.math-wrap mjx-container {
  display: inline;
  vertical-align: middle;
  color: rgb(98, 0, 255);
}
.math-wrap span.katex {
  color: rgb(98, 0, 255);
}
.math-wrap span.katex .hangul_fallback {
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.math-wrap span.katex .base {
  white-space: initial;
  width: auto;
}
